*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1366px;
    margin: auto;
    background-color: rgb(187, 175, 175);
   
}
.yuxari{
    background-color: rgb(238, 226, 226);
    width: 1366px;
    margin: auto;
    box-shadow: 2px 2px 12px 1px grey;
    margin-top: 2rem;
    text-align: center;
    border-radius: 2rem;
}
.yuxari h1{
    padding: 1rem;
    font-size: 2rem;
    color: #2c2f23 ;
}
.yuxari p {
    padding: .5rem;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    color: #2c2f21;
}
.bilikler{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.bilikler h1{
    font-size: 2.5rem;
}
.bilikler p {
    font-size: 2rem;
}
.bilikler p{
    border-bottom: 1px solid gray;
}
.bilikler .html p{
    color: orangered;
}
.bilikler .css p {
    color: rgb(0,60,255);
}
.bilikler .js p{
    color: yellow;
}
.bilikler .git p{
    color: darkorchid;
}
.bilikler .responsive p {
    color: #2c2f23;
}
.bilikler .html h1  {
    color: orangered;
}
.bilikler .css h1  {
    color: rgb(0, 60, 255);
}
.bilikler .js h1  {
    color: yellow;
}
.bilikler .git h1  {
    color: darkorchid;
}
.bilikler .responsive h1 {
    color:#2c2f23 ;
}